

/* ==========================================================================
   Global Styles
   ========================================================================== */
body {
	font-size: 16px;
	color: #404a49;
	font-weight: 400;
	background-color: #f0fceb;
	position: relative;
  	min-height: 100vh;
	font-family: 'Noto Serif', Georgia, serif;
}
.container {
	margin: 0 auto;
	padding: 0 25px;
	background:  #678f89;
}
header .site-header {
	border-bottom: 1px solid #d1d1d1;
	margin: 0 auto;
	height: 95px;
	display: flex;
	justify-content: space-between;
}
header .logo {
	border: 5px solid#fff;
	text-decoration: none;
	color:#fff;
	font-size: 21px;
	font-weight: bold;
	padding: 5px 10px;
	margin: 24px 0;
	text-transform: uppercase;
	font-family: 'Noto Sans', sans-serif;
}
header .button {
	margin: 24px 10px 24px;
}
header .header-buttons {
	margin-top: 50px;
}
footer {
	text-align: center;
	padding: 35px 0;
	border-top: 4px solid #678f89;
	max-height: 100px;
	position: absolute;
	background-color: #678f89;
	bottom: 0;
	width: 100%;
}
footer a {
	color: #fff;
	text-decoration: none;
	border-bottom: 2px solid #666;
	padding-bottom: 1px;
}

/* ==========================================================================
   Button Styles
   ========================================================================== */

.button {
	padding: 8px 12px 7px 12px;
	text-transform: uppercase;
	background: #000;
	border: 3px solid #000;
	border-radius: 4px;
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
	font-size: 13px;
	font-family: 'Noto Sans', sans-serif;
}
.button.button-secondary {
	background: transparent;
	border-color: #000;
	color: #000;
}
.button.icon-right {
	position: relative;
	padding-right: 30px;
	top: -10px;
}
.button.icon-right i {
	position: absolute;
	top: 3px;
	right: 3px;
}
.button:focus {
	outline: 0;
}
.button-tag {
	margin: 0 1rem 0 0;
}
.button.edit-button {
	display: color;
	background-color: coral;
	border-color: coral;
	color: #fff;
	margin: 0 0 25px;
}
.button-delete {
	background-color: crimson;
	border-color:crimson;
}


/* ==========================================================================
   Typography
   ========================================================================== */

h1,
h2,
h3 {
	margin: 0;
	font-weight: bold;
	line-height: 1.2em;
}
h1 {
	font-size: 44px;
	margin-bottom: 12px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 28px;
}
p {
	font-size: 15px;
	line-height: 1.8em;
}
p a {
	border-bottom: 2px solid #c1c1c1;
	padding: 0;
}
a.link {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	padding-bottom: 1px;
	font-family: 'Noto Sans', sans-serif;
}



/* ==========================================================================
   Page Styles
   ========================================================================== */

.entry-list,
.edit-entry,
.new-entry,
.single {
	max-width: 700px;
	margin: 0 auto;
	padding: 90px 0 170px 0;
}
.edit-entry h2,
.new-entry h2,
.password h2 {
	margin-bottom: 35px;
}
.entry-list article {
	margin-bottom: 70px;
	text-align: left;
	padding: 1rem;
	border: 4px solid rgba(103, 143, 137, 0.493);
	border-radius: 10px;
	background-color: #fff;
}
.entry-list article:last-child {
	margin-bottom: 5px;
}
.entry-list article h2 {
	margin-bottom: 8px;
}
.entry-list article h2 a {
	color: #404a49;
}
.entry-list article .excerpt a {
	color: #404a49;
	font-weight: bold;
	text-decoration: none;
}
.entry-list article a {
	text-decoration: none;
}
.entry-list time {
	color: #888;
}
.single {
	padding-bottom: 30px;
}
.single .article-header,
.edit-header {
	display: flex;
	justify-content: space-between;
}
.single time {
	font-size: 18px;
}
.entry {
	max-width: 700px;
	margin: 75px auto 0 auto;
	text-align: left;
}
.entry p {
	font-size: 18px;
	margin-bottom: 40px;
}
.tags-list {
	margin: 2rem 0 1rem;
}

.entry-comments {
	background: #f1f1f1;
	padding: 70px 0;
}
.entry-comments .container {
	background: transparent;
}
.entry-comments .container,
.edit-entry .container,
.new-entry .container {
	max-width: 700px;
	margin: 0 auto;
}
.entry-comments h2 {
	border-bottom: 1px solid #c1c1c1;
	padding-bottom: 35px;
}
.comment {
	border-top: 1px solid #c1c1c1;
	border-bottom: 1px solid #c1c1c1;
	padding: 35px 0 20px;
	margin: 2px 0 0 0;
}
.comment h4 {
	text-align: center;
}
.comment time {
	display: block;
	color: #888;
	font-size: 14px;
	margin: 3px 0 20px 0;
}
.new-comment .container {
	max-width: 700px;
	margin: 0 auto;
}
.tags-control {
	display: block;
	width: 450px;
	margin: 50px auto 0;
}
.container-tags h4 {
	text-align: center;
}
.container-tags .entry-list {
	padding-top: 30px;
}




/* ==========================================================================
   Form Styles
   ========================================================================== */


.entry-comments form {
	border-top: 1px solid #c1c1c1;
	padding: 50px 0;
	margin-top: 2px;
}
form label {
	display: block;
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 5px;
}
form input[type=text],
form input[type=password],
form textarea {
	border: 2px solid #e1e1e1;
	font-size: 18px;
	line-height: 1.8em;
	padding:10px 13px;
	margin-bottom: 30px;
	border-radius: 4px;
	width: calc(100% - 32px);
}
.new-comment form input[type=text],
.new-comment form textarea {
	font-size: 15px;
}
form input[type=text]:focus,
form input[type=password]:focus,
form textarea:focus {
	outline: 0;
	border-color: #b1b1b1;
}
form input[type=text]:hover,
form textarea:hover {
	border-color: #b1b1b1;
}
.new-comment form textarea {
	min-height: 125px;
}
.edit-entry form textarea,
.new-entry form textarea {
	min-height: 400px;
}
.edit-entry form textarea.ta-tag,
.new-entry form textarea.ta-tag {
	min-height: 125px;
}
input[type=submit] {
	margin-right: 5px;
}














