{{ include('inc/header.php') }}
        <section>
            <div class="container-index">
                {{ include('inc/postsList.twig') }}
            </div>
        </section>
{{ include('inc/footer.php') }}     