{% set uri = '/?' %}
{% extends 'base.twig' %}
{% block content %}
        <section>
            <div class="container-index">
                {{ include('inc/postsList.twig') }}
            </div>
        </section>
{% endblock %}     